{% extends 'base.html' %}

{% block title %}TinyU{% endblock %}


{% block content %}
<div class="container">
    <div class="jumbotron">
        <h2>Generate a TinyU</h2>
        <form class="form-inline" action="{% url 'home' %}" method="post">
            {% csrf_token %} 
                <div>
                    <label for="long_url_name"></label>
                    <input class="form-control mr-sm-2" type="text" id="long_url_name" placeholder="Place the url" name="long_url_name">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">generate</button>
                </div>
        </form>
        {% if short_url_name %}
            <span class="navbar-text">
                your Tiny URL is : {{ request.get_host }}/{{ short_url_name }}
            </span>
        {% endif %}
    </div>
</div>
{% endblock %}